[package]
name = "kakei_database"
authors.workspace = true
version.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true
publish.workspace = true
readme.workspace = true

[dependencies]
sqlx.workspace = true
tokio.workspace = true
